@import 'plyr/dist/plyr.css';
@import 'locomotive-scroll/locomotive-scroll.css';
@import 'mouse-follower/dist/mouse-follower.min.css';



.plyr__controls {
  z-index: 9999999 !important; /* Defina o valor de z-index conforme necessário */
}

.plyr__poster {
  background-size: cover !important;
}

body.scrollflip-relative [tr-scrollflip-sticky='true'] {
  position: relative;
}

.video_bg-plyr.home_main {
  width: 100%;
}

.mf-cursor-text {
  font-weight: 600;
  color: white;
}

.mf-cursor.-text:before {
  opacity: 1;
}

.mf-cursor:before {
  background: black;
  transform: scale(0.4);
}

.w-input:focus, .w-select:focus {
  border-color: #000000;
  outline: 0;
}

html {--plyr-color-main: white;}
.plyr__play-large {
  background-color: white; color: black !important; }
.plyr__controls button:hover svg {fill: white; }
.plyr__controls button:hover {background-color: #ffffff40;}
.plyr--video .plyr__control:focus-visible, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: #ffffff3d !important;
    color: #fff !important;
}
.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: block; 
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px) ; 
    background-color: #ffffff50; 
    color: #ffffff8a;
        scale: 1;
    }

