<<<<<<< HEAD
//@import 'plyr/src/scss/plyr.scss';
//@import 'locomotive-scroll/locomotive-scroll.css';
//@import 'mouse-follower/dist/mouse-follower.min.css';
=======
@import 'plyr/dist/plyr.css';
@import 'locomotive-scroll/locomotive-scroll.css';
@import 'mouse-follower/dist/mouse-follower.min.css';

>>>>>>> parent of 94d9152 (Clean things)

.plyr__controls {
  z-index: 9999999 !important; /* Defina o valor de z-index conforme necessário */
}

.plyr__poster {
  background-size: cover !important;
}

body.scrollflip-relative [tr-scrollflip-sticky='true'] {
  position: relative;
}

.video_bg-plyr.home_main {
  width: 100%;
}

.mf-cursor-text {
  font-weight: 600;
  color: white;
}

.mf-cursor.-text:before {
  opacity: 1;
}

.mf-cursor:before {
  background: black;
  transform: scale(0.4);
}

.w-input:focus, .w-select:focus {
  border-color: #000000;
  outline: 0;
}

